.catalog {
    width: 100%;
}

.catalog-description {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.catalog-table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin-top: 25px;

    tbody {
        border-left: 1px solid black;
        border-right: 1px solid black;
        cursor: pointer;
    }

    td, th{
        border-bottom: 1px solid black;
        padding: 15px;
    }
}

.catalog-table-container {
    display: flex;
    justify-content: center;
}

.catalog-table-name {
    width: 80%;
}

.catalog-table-id {
    width: 20%;
}