.catalog {
    width: 100%;
}

.catalog-table {
    border-collapse: collapse;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;

    tbody {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    td, th{
        border-bottom: 1px solid black;
        padding: 15px;
    }
}

.catalog-table-container {
    display: flex;
    justify-content: center;
}

.catalog-table-name {
    width: 80%;
}

.catalog-table-id {
    width: 20%;
}