.template-container {
    // background-color: #F4FBFB;
    // background-color: #cceded;
    background-color:#d6eeee;
    border-radius: 10px;
    text-align: left;
    padding: 25px;
    margin-top: 50px;
}

.template-title {
    margin-bottom: 20px;
}