.entry-catalog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entry-catalog {
    background-color: #10887b42;
    border-radius: 20px;
    padding: 25px;
    margin: 25px;
    color: #83918f;
    display: flex;
    max-width: 300px;
 }

 .entry-logo {
    height: 40vmin;
    pointer-events: none;
  }