.header {
    width: 100%;
    height: 70px;
    // background: linear-gradient(90deg, rgba(16, 209, 163, 1) 0%, rgba(55,187,189,1) 100%);
    background: linear-gradient(90deg, rgba(16, 209, 163, 1) 0%, rgb(18, 195, 218) 100%);
    // background: linear-gradient(90deg, rgba(18,146,218,1) 0%, rgba(16, 209, 163, 1) 100%);
    // background: linear-gradient(90deg, rgba(16, 209, 163, 1) 0%, rgba(18,146,218,1) 100%);
    display: flex;
    position: fixed;
    z-index: 10;
}

.header-logo {
    padding: 15px;
    padding-left: 30px;
    width: 65px;
    filter: invert(21%) sepia(23%) saturate(3733%) hue-rotate(173deg) brightness(102%) contrast(98%);
    // filter: invert(100%) sepia(5%) saturate(7466%) hue-rotate(195deg) brightness(108%) contrast(119%);
}

.header-container-left {
    width: 100%;
    text-align: right;
    align-self: center;
}

.header-button {
    padding: 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #035672;
    font-weight: bold;
    white-space: nowrap;
    
    @media (max-width: 600px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header-link {
    cursor: pointer;
    text-decoration: none;
    color: #035672;
}

.header-options {
    display: flex;
    justify-content: right;
}