.App {
  text-align: center;
  height: 100vh;
  background-color: #fafafa;
  // background-color: #282c34;
}

.App-body {
  // color: #fafafa;
  background-color: #fafafa;
  color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
